/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinha logo e título à esquerda */
    background-color: #000; /* Fundo preto */
    padding: 10px 20px;
    width: 100%;
    color: white;
    position: relative;
}

.titulo {
    flex-grow: 1;
    text-align: center;
}

header h1 {
    font-family: 'Montserrat', sans-serif; /* Fonte bonita */
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase; /* Maiúsculo */
    margin: 0;
}

header p {
    font-size: 16px;
    color: #ddd;
    margin: 0;
    text-align: center;
}

.logo img {
    width: 40px; /* Tamanho ajustável para a logo */
    height: 40px;
    border-radius: 50%;
    position: absolute;
    left: 20px; /* Posiciona mais no canto esquerdo */
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f1f1f1;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

/* Adicionando fontes do Google */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
